<!-- Start content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="m-b-20 header-title">Novo professor(a)</h4>
        <%= render 'form' %>
      </div>
      <!-- container -->
    </div>
  </div>
</div>
