<div class="modal-header">
  <h5 class="modal-title"
      id="exampleModalLabel">Faltas</h5>
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">Aulas:</div>
    <div class="col-md-4"> <%= student.show_attendances(@attendances, @klass.id) %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">Faltas:</div>
    <div class="col-md-4"> <strong><%= count = student.count_presence(@attendances, @klass.id) %></strong></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">Justificativas Aceitas:</div>
    <div class="col-md-4"> <strong><%= justification = student.check_justifications(@klass.id, student.email) %></strong></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">Total:</div>
    <div class="col-md-4"> <font color='red'><strong><%= count - justification %></strong></font></div>
  </div>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary"
          data-dismiss="modal">Fechar</button>
</div>
