default: &default
  adapter: postgresql
  encoding: unicode
  host: zelio_postgres
  username: postgres
  password: postgres
  pool: 5

development:
  <<: *default
  database: zelio_development


test:
  <<: *default
  database: zelio_test