<div class="row">
  <div class="col-md-6">
    <%= simple_form_for [:admin, @group] do |f| %>
      <div class="form-group">
        <div class="col-md-10">
          <%= f.input :name %>
        </div>
      </div>
      <%= f.submit 'Salvar', class: "btn btn-success" %>
      <%= link_to 'Voltar', :back, class: "btn btn-link" %>
    <% end %>
  </div>
</div>
