<!-- Start content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="m-b-20 header-title">Detalhes da turma</h4>

        <div class="form-group">
          <div class="col-md-10">
            <label>Nome: </label>
            <%= @group.name %>
          </div>
        </div>
        <%= link_to 'Editar', edit_admin_group_path(@group), class: "btn btn-success" %>
        <%= link_to 'Voltar', :back, class: "btn btn-link" %>
      </div> <!-- container -->
    </div>
