<div class="user-details">
  <div class="user-info">
    <a href="#">
      <%= current_student.name %> </a>
    <p class="text-muted m-0">Estudante</p>
  </div>
</div>

<!--- Sidemenu -->
<div id="sidebar-menu">
  <!-- Left Menu Start -->
  <ul class="metismenu"
      id="side-menu">
    <li class="menu-title">Navegação</li>
    <li>
      <%= link_to student_dashboard_path do %>
      <i class="ti-home"></i> <span> Dashboard </span>
      <% end %>
    </li>

    <li>
      <%= link_to student_justifications_path do %>
      <i class="ti-receipt"></i> <span> Justificativas </span>
      <% end %>
    </li>
  </ul>

</div>
<!-- Sidebar -->
<div class="clearfix"></div>
