<section id="wrapper" class="login-register">
  <div class="login-box">
    <div class="white-box">
      <%= simple_form_for [:student, @student], html: { class: 'form-horizontal form-material' } ,url: edit_student_confirmation_path(confirmation_token: @student.confirmation_token), method: :put do |f| %>
        <h3 class="box-title m-b-20">Confirmation</h3>
         <div class="row">
          <div class="col-xs-12">
          <%= f.input :password, placeholder: 'Password', label: false %>
          </div>
         </div>
         <div class="row">
           <div class="col-xs-12">
          <%= f.input :password_confirmation, placeholder: 'Password Confirmation', label: false %>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-12">
             <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Create Password</button>
           </div>
         </div>
        <% end %>
      </div>
    </div>
</section>
